@import "./node_modules/bootstrap/dist/css/bootstrap.css";

/* RGB */


body {
    margin: 0px;
    background-color: rgba(11, 19, 43, 1);
    overscroll-behavior: none;
}

h1,
h5 {
    font-family: 'Love Ya Like A Sister'
}

.wrapper {
    text-align: center;
}

.intro__header {
    height: 40vh;
    display: flex;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
    color: rgba(78, 205, 196, 1);
    background-color: rgba(11, 19, 43, 1);
    padding: 0px 40px;
}

.congratulations__banner {
    padding: 30px 40px;
    background-color: rgba(184, 242, 230, 1);
}

.presents {
    display: flex;
    justify-content: space-around;
}

.present {
    height: 75px;
}

.card {
    border: none;
}

.card-img-top {
    padding: 50px 50px;
    background-color: rgba(11, 19, 43, 1);
}

.card-body {
    background-color: rgba(184, 242, 230, 1);
}

.card-text {
    padding: 0px 30px;
}

.closing__footer {
    color: white;
    text-align: center;
    padding: 10px 30px;
}

.purple {
    background-color: rgba(83, 18, 83, 1);
    border: none;
}