@import "./node_modules/bootstrap/dist/css/bootstrap.css";

::selection {
    background:#AC2937;
    color:#FFF;
    text-shadow:none;
  }

::-webkit-selection { 
        background:#AC2937;
        color:#FFF;
        text-shadow:none;
}
/* RGB */

body {
    margin: 0px;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overscroll-behavior: none;
}

h1,
h5 {
    font-family: 'Love Ya Like A Sister'
}

.wrapper {
    text-align: center;
}

.intro__header {
    height: 40vh;
    display: flex;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
    color: rgba(78, 205, 196, 1);
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0px 40px;
}

.congratulations__banner {
    padding: 30px 40px;
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.congratulations__banner p {
    font-size: 23px;
}

.presents {
    display: flex;
    justify-content: space-around;
}

.present {
    height: 75px;
}

.card {
    border: none;
}

.card-img-top {
    padding: 50px 50px;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.card-body {
    background-color: #00CDAC;
}

.card-text {
    padding: 0px 30px;
    font-size: 23px;
}

.closing__footer {
    color: white;
    text-align: center;
    padding: 10px 30px;
}

.purple {
    background-color: rgba(83, 18, 83, 1);
    border: none;
}

.present-1 {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
  }


.present-2 {
    animation-delay: 2.0s;
    -webkit-animation-delay: 2.0s;
  }


.present-3 {
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
  }

